body {
    background-color: black;
    margin: 0px;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 4px solid red;
    position: relative;
}
.allTabs {
    display: flex;
    padding: 30px;
    height: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.homeTab a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.homeTab {
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s;
    margin-right: 30px;
}
.navBar {
    text-transform: uppercase;
}
.homeTab:hover {
    border-bottom: 2px solid red;
}
.aboutTab {
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s;
    margin-right: 30px;
}
.aboutTab:hover {
    border-bottom: 2px solid red;
}
.aboutTab a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.shopTab {
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s;
    margin-right: 30px;
}
.shopTab:hover {
    border-bottom: 2px solid red;
}
.shopTab a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.contactTab {
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s;
}
.contactTab:hover {
    border-bottom: 2px solid red;
}
.contactTab a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.logo img {
    height: 100%;
    width: 115px;
    margin: auto 0;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
@media only screen and (max-width: 767px) {
    .logo img {
        height: 100%;
        width: 80px;
        margin: auto 0;
        position: absolute;
        top: 0px;
        left: 0px;
        
    }
    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
        border: 4px solid red;
        position: relative;
    }
    .allTabs {
        display: flex;
        padding: 25px;
        height: 20px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    .homeTab {
        margin-right: 15px;
    }
    .aboutTab {
        margin-right: 15px;
    }
    .shopTab {
        margin-right: 15px;
    }
}
